/build/
src/.vs/

src/*.exe
src/*.pdb
src/*.out
src/*.app
src/*.dSYM/
src/jamDebug.h
src/jamDebug.cpp

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb
*.otf
*.ttf

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

CMakeList.txt
