/build/
src/.vs/

src/*.exe
src/*.pdb
src/*.out
src/*.app
src/*.dSYM/
src/jamDebug.h
src/jamDebug.cpp

src/jamScenes/compiled_scenes/

src/scene_build/
src/external/

src/jamLibrary.lib
src/scene_build/*
!src/scene_build/build.bat

*.lib
*.pdb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb
*.otf
*.ttf
*.dll

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

CMakeList.txt
